<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ricky Martin -Life</title>
	</head>
	<body>
		<h1>Ricky Martin</h1>
		<h2>Biography</h2>
		<p>Ricky Martin is a Puerto Rican singer who ruled the world of Latin and American pop during the 1990s. After his
			initial stint with the all-boy Latin pop band ‘Menudo,’ he went on to pursue a career as a solo artist. He
			released a couple of albums in Spanish before he was chosen to compose ‘La Copa de la Vida’ (The Cup of Life) as
			the official theme of the 1998 ‘FIFA World Cup.’ He later performed the same at the 41st ‘Grammy Awards.’ It was
			his blockbuster single ‘Livin’ la Vida Loca’ that brought him worldwide recognition and made him an international
			superstar. As one of the most prominent Latin pop singers, he successfully placed the genre on world stage, paving
			the way for other popular Latin singers, such as Shakira, Enrique Iglesias, and Jennifer Lopez. In addition to
			Spanish, he also recorded English-language albums that increased his popularity. His best-selling albums include
			‘A Medio Vivir,’ ‘Sound Loaded,’ ‘Vuelve,’ ‘Me Amaras,’ ‘La Historia,’ and ‘Musica + Alma + Sexo.’ He is credited
			for selling over 85 million albums across the world. He has also performed in concerts all over the world.
		</p>
		<button><a href='/'>Back to Home Page</a></button>
	</body>
</html>
