<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ricky Martin - Fan page</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<nav class='navbar'>
			<button><a href="/about">About</a></button>
			<button><a href="/works">Works</a></button>
			<button><a href="/photos">Photos</a></button>
		</nav>
		<h1 id="name">Welcome to Ricky Martin Offical Web Site</h1>
		<div class='banner'>
			<img src="../photos/banner.jpeg" alt='banner'>
		</div>

	</body>
</html>
