<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ricky Martin - Works</title>
	</head>
	<body>
		<h1> Songs and Albums </h1>

		<p>While Martin was actively pursuing his acting career, he was also recording and releasing albums and making
			concert appearances. He had become well-known in his native Puerto Rico and among the Latin/Hispanic community as
			a whole.
			His debut solo album, Ricky Martin, was released in 1988 by the Sony Latin division, followed by a second effort,
			Me Amaras, in 1989. His third album, A Medio Vivir, came out in 1997, the same year that he lent his voice to the
			Spanish-language version of Disney's animated feature, Hercules. His next project, Vuelve, released in 1998,
			featured the hit single, "La Copa de la Vida" ("The Cup of Life"), which Martin performed at the 1998 World Cup
			soccer tournament in France, as part of a showcase broadcast to 2 billion people around the world.
		</p>
		<button><a href='/'>Back to Home Page</a></button>
	</body>
</html>
